<!-- index renders a list of all the traveling locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "travel/base.html" %}

{% block content %}

<div class="has-text-centered tile is-ancestor">
          <div style="margin: auto" class="tile is-8 is-parent">
              <div class="tile is-child box">
                  <h1 class="title is-2"> Hello <span style="color:#1496ed">{{ user.username }}</span> </h1>
           <h2 class="title is-3">Welcome to Traveler.</h2>
           <h4 class="title is-5" style="color:#1496ed">Take a look at the list of travel destinations: </h4>

<!-- we have the object {'all_problems': all_problems} from the views  -->
{% for t in all_locations %}
              <div class="box">
                  <div class="content" align="left">
                      <a class="button is-success is-medium" href="{% url 'travel:show_location' t.id %}">
                        {{ t.city }}, {{ t.country }}</a>
                  </div>
              </div>
{% endfor %}

{% endblock content %}
