{% extends "travel/base.html" %}

{% block content %}

<div class="columns">
      <div class="column">

        <div class="has-text-centered tile is-ancestor">
                  <div style="margin: auto" class="tile is-8 is-parent">
                      <div class="tile is-child box">
                          <h1 class="title is-2"> Hello <span style="color:#1496ed">{{ user.username }}</span> </h1>
                   <h2 class="title is-3">Welcome to Traveler</h2>
                      </div>
                 </div>
        </div>
      </div>
</div>

<div class="columns is-centered">
  <div class="column is-one-fifth">
           <nav class="panel">
            <p class="panel-heading" style="text-align:center">
            <span><strong>Login</strong></span>
            </p>

            <div class="panel-block">

                 <form action="{% url 'travel:loguser' %}" method="post">

                      {% csrf_token %}
                      <div class="field">
                          <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input is-success" type="text" placeholder="Username" name="username">
                              <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </div>
                      </div>

                      <div class="field">
                          <label class="label">Password</label>
                          <div class="control has-icons-left">
                              <input class="input" name="password" placeholder="Password" type="password">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                          </div>

                      </div>
                      <div class="field">
                          <div class="control">
                              <button class="button is-success is-outlined is-fullwidth" type="submit" value="Login">Login</button>&nbsp;

                           </div>
                      </div>
                  </form>
            </div>
          </nav>
        </div>
      </div>

{% endblock content %}
