<!-- index renders a list of all the rocking locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "rock/base.html" %}

{% block content %}
  <div class="columns is-centered">
    <div class="publish-form columns main-background panel-block">
      <div class="column box front-background" >
        <h1 class="title is-2">
          <span style="color:#1496ed">
            {{ user.username }}
            <br>
            <span style="color:white;">
              What sport?
            </span>
          </span>
        </h1>
        <h4 class="title is-5">
          <span style="color:white;">
            Where is the rock located?
          </span>
        </h4>
        {% if error %}
          <h3 style="color: red">{{ error }}</h3>
        {% endif %}

        <form action="{% url 'location:create_location' %}" method="post">
          {% csrf_token %}

          <span style="color:white;">
            <label>Choose a sport:</label>
          </span>
          <select name="sports">
            <option value="basketball">basketball</option>
            <option value="baseball">baseball</option>
            <option value="tennis">tennis</option>
          </select>
          <br><br>

            <div class="field">
              <div class="control">
                <label class="label">
                  <span style="color:red;">*</span><span style="color:white;">Address</span>
                </label>
                <input class="input is-primary" placeholder="123 Cool Court Drive" type="text" name="address">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="label">
                  <span style="color:red;">*</span><span style="color:white;">Zip</span>
                </label>
                <input class="input is-primary" placeholder="42069" name="zip">
                </input>
              </div>
            </div>

            <!--
            <label class="checkbox">
              <br>
              Is this where you live?
              <input type="checkbox"  id="my_location" name="my_location" />
            </label>

            <label class="checkbox">
              <br>
              Or are you visiting?
              <input type="checkbox"  id="visiting" name="visiting" />
            </label>
            -->

            <br><br><br>

            <div class="field">
              <div class="control">
                <button class="button is-success is-fullwidth" type="submit" value="Publish">
                  Publish
                </button>&nbsp;
              </div>
            </div>

        </form>

      </div>
    </div>
  </div>
{% endblock content %}
