{% extends "rock/base.html" %}
{% block content %}

<head>
    {% load static %}
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/stylesChuck.css' %}"/>
</head>

<div style="margin: auto;">
  <center>
    <div class="box front-background tile is-8 is-vertical">
      <div class="tile is-ancestor">
        <div class="tile is-vertical has-text-centered alt-front-backgroud">
          <h2 class="title is-3">
            <span style="color:#1496ed">
              {% if user %}
                {{ user.username }},
              {% endif %}
            </span>
            <span style="color:white;">
              edit your location.
            </span>
          </h2>
          <h4 class="title is-5" style="color:#1496ed">
            <span style="color:white;">
              {{location.address}} {{location.zip}}
            </span>
          </h4>
        </div>
      </div>
      <br><br><br>
    </div>
  </center>
</div>

<br>

<center>
  <div class="parent columns is-centered col-container">
    <div class="child inline-block-child">
      <div class="columns">
        <div class="publish-form columns main-background panel-block">
          <div class="column box front-background col" >

           <h4 class="title is-5">
             <span style="color:white;">
               Update your Location's <span style="color:red;">address</span>
             </span>
           </h4>

           <form action="{% url 'location:update_location' location.id %}" method="post">
             {% csrf_token %}
             <div class="field">
               <div class="control">
                 <label class="label">
                   <span style="color:white;">
                     New address
                   </span>
                 </label>
                 <input class="input is-primary" placeholder="123 Cool Court Drive" type="text" name="address">
               </div>
             </div>

             <div class="field">
               <div class="control">
                 <label class="label">
                   <span style="color:white;">
                     New Zip
                   </span>
                 </label>
                 <input class="input is-primary" placeholder="42069" name="zip">
               </div>
             </div>

             <br><br><br>

             <div class="field">
                 <div class="control">
                   <button class="button is-success is-outlined is-fullwidth" type="submit" value="Update">
                     Update
                   </button>&nbsp;
                 </div>
             </div>

           </form>
          </div>

        </div>
      </div>
     </div>

     <div class="child inline-block-child">
      <div class="columns">
        <div class="publish-form columns panel-block">
          <div class="column box front-background col">

            <h4 class="title is-5">
              <span style="color:white;">
                Update your Location's <span style="color:red;">sport</span>
              </span>
            </h4>

            <form action="{% url 'location:update_location' location.id %}" method="post">
              {% csrf_token %}
              <span style="color:white;">
                <label>Choose a sport:</label>
              </span>
              <select name="sports">
                <option value="basketball">basketball</option>
                <option value="baseball">baseball</option>
                <option value="tennis">tennis</option>
              </select>

              <br><br><br><br>
              <label><span style="color:white;">Current Sport:</span></label>
              {% if location.sport == 'basketball' %}
                <img src="https://img.icons8.com/doodle/48/000000/basketball--v1.png">
              {% elif location.sport == 'baseball' %}
                <img src='https://img.icons8.com/dusk/64/000000/baseball.png'>
              {% elif location.sport == 'tennis' %}
                <img src='https://img.icons8.com/dusk/64/000000/tennis.png'>
              {% endif %}

              <br><br><br><br><br>

              <div class="field">
                <div class="control">
                  <button class="button is-success is-outlined is-fullwidth" type="submit" value="Update">
                    Update
                  </button>&nbsp;
                </div>
              </div>

            </form>
         </div>
       </div>
     </div>
    </div>

    <div class="child inline-block-child">
      <div class="columns">
        <div class="publish-form columns panel-block">
          <div class="column box front-background col" >

           <h4 class="title is-5">
             <span style="color:white;">
               Update your Location's <span style="color:red;">image</span>
             </span>
           </h4>

           <form action="{% url 'location:create_image' location.id %}" method = "post" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form.as_p }}

             <br><br><br><br><br><br>         <br><br><br>


             <div class="field">
                 <div class="control">
                   <button class="button is-success is-outlined is-fullwidth" type="submit" value="Update">
                     Update
                   </button>&nbsp;
                 </div>
             </div>
           </form>


          </div>

        </div>
      </div>
     </div>

  </div>
</center>

<br><br>

<div style="margin: auto;">
  <center>
    <div class="box front-background tile is-8 is-vertical">
      <div class="tile is-ancestor">
        <div class="tile is-vertical has-text-centered alt-front-backgroud">
          <h2 class="title is-3">
            <span style="color:white;">
              Delete your location
            </span>
          </h2>
          <form action="{% url 'location:delete_location' location.id %}" method="post">
              {% csrf_token %}
               <button class="button is-danger is-outlined is-fullwidth" type="submit" name="delete" value="Delete">
                 Delete
               </button>&nbsp;
          </form>
        </div>
      </div>
      <br><br><br>
    </div>
  </center>
</div>

{% endblock content %}
