<!-- index renders a list of all the rock locations in the DB -->
<!-- should implement a search button at some point -->

{% extends "rock/base.html" %}

{% block content %}

<head>
    {% load static %}
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
</head>

<script>
  create_map({{location.latitude}}, {{location.longitude}}, {{location.id}});
</script>

<div class="has-text-centered tile is-ancestor">
  <div style="margin: auto" class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <h2 class="title is-2">
        <span style="color:blue">
          {{ user.username }}
        </span>
        <br>
        {% if location.sport == 'basketball' %}
          You added a location for basketball!
        {% elif location.sport == 'tennis' %}
          You added a location for tennis!
        {% elif location.sport == 'baseball' %}
          You added a location for baseball!
        {% endif %}
      </h2>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="has-text-centered tile is-ancestor">
  <div style="margin: auto" class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <div class="has-text-centered tile is-ancestor">
        <div style="margin: auto" class="tile is-8 is-parent">
          <div class="tile is-child box alt-front-background">
            {% if location.sport == 'basketball' %}
              The location of the basketball court is
            {% elif location.sport == 'tennis' %}
              The location of the tennis court is
            {% elif location.sport == 'baseball' %}
              The location of the baseball field is
            {% endif %}
            <u>{{location.address}} {{location.zip}}</u>
          </div>
        </div>
      </div>

      <!--location template with image and map-->
      <div class="columns front-background">

        <div class="column is-half front-background">
          <div class="has-text-centered tile is-ancestor">
            <div style="margin: auto" class="tile is-8 is-parent">
              <div class="tile is-child box alt-front-background">
                <!--Image of Location-->
                <img src="{{ location.sport_location_img.url }}" alt=" icon" width="100%" height="100%">
              </div>
            </div>
          </div>
        </div>

        <div class="column is-half front-background">
          <div class="has-text-centered tile is-ancestor">
            <div style="margin: auto" class="tile is-8 is-parent">
              <div class="tile is-child box alt-front-background">
                <div id='{{location.id}}' style='width: 95%; height: 300px;'></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<a href="{% url 'location:show_location' location.id %}" class="button is-primary is-medium">
  Next...
</a>

{% endblock content %}
