<!-- index renders a list of all the rock locations in the DB -->
<!-- should implement a search button at some point -->

{% extends "rock/base.html" %}

{% block content %}
<head>
    {% load static %}
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/stylesChuck.css' %}"/>
</head>

<div class="no-scroll">

<br><br><br>
  <div style="margin: auto;">
    <center>
      <div class="box front-background tile is-8 is-vertical">
        <div class="tile is-ancestor">
          <div class="tile is-vertical has-text-centered alt-front-backgroud">
            <h1 class="title is-2">
              <span style="color:white;">
                Location added by:
              </span>
              <span style="color:#1496ed">
                {{ location.rocker.user.username }}
              </span>
            </h1>
            <h2>
              <span style="color:white;">
                {% if location.sport == 'basketball' %}
                  Basketball court at
                {% elif location.sport == 'tennis' %}
                  Tennis court at
                {% elif location.sport == 'baseball' %}
                  Baseball field at
                {% endif %}
              </span>
              <span style="color:#1496ed">
                <u> {{location.address}} {{location.zip}}</u>
              </span>
            </h2>
          </div>
        </div>
        <br><br><br>
      </div>
    </center>
  </div>

<br><br>

  <div class="columns">
    <div class="column">
      <div class="parent main-background" style='width: 100%; height: 100%;'>
        <script>
          if ('{{location.sport}}'.localeCompare("basketball") == 0) {
            load_map_basketball({{location.latitude}}, {{location.longitude}});
          }
          else if ('{{location.sport}}'.localeCompare("baseball") == 0) {
            load_map_baseball({{location.latitude}}, {{location.longitude}});
          }
          else if ('{{location.sport}}'.localeCompare("tennis") == 0) {
            load_map_tennis({{location.latitude}}, {{location.longitude}});
          }
          else {}

        </script>
        <div class='child inline-block-child' id='map' style='width: 70%; height: 550px;'></div>

        <div class="scrollable child inline-block-child main-background" style='width: 28%; height: 550px;'>
            <article>
              <form action="{% url 'location:create_image' location.id %}" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-primary is-medium" type="submit">
                  Upload
                </button>
              </form>
            </article>
            <br>
        </div>
      </div>

    </div>
  </div>

</div>

<!--
<a href="{% url 'map:location_to_image' location.id %}" class="button is-primary is-medium">
  Add Image
</a>
-->

{% endblock content %}
