<!-- show a problem belonging to any user  -->
{% extends "rock/base.html" %}
{% block content %}
<div class="columns">
  <div class="column">

    <h2 class="title is-2">
      Location added by:
      <span style="color:blue">
        {{ location.rocker.user.username }}
      </span>
    </h2>

    <div class="has-text-centered tile is-ancestor">
      <div style="margin: auto" class="tile is-8 is-parent">
        <div class="tile is-child box front-background">
          <div class="has-text-centered tile is-ancestor">
            <div style="margin: auto" class="tile is-8 is-parent">
              <div class="tile is-child box alt-front-background">
                {% if location.sport == 'basketball' %}
                  The location of the basketball court is
                {% elif location.sport == 'tennis' %}
                  The location of the tennis court is
                {% elif location.sport == 'baseball' %}
                  The location of the baseball field is
                {% endif %}
                <u>{{location.address}} {{location.zip}}</u>
              </div>
            </div>
          </div>

          <!--location template with image and map-->
          <div class="columns front-background">

            <div class="column is-half front-background">
              <div class="has-text-centered tile is-ancestor">
                <div style="margin: auto" class="tile is-8 is-parent">
                  <div class="tile is-child box alt-front-background">
                    <!--Image of Location-->
                    <img src="{{ location.sport_location_img.url }}" alt=" icon" width="100%" height="100%">
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half front-background">
              <div class="has-text-centered tile is-ancestor">
                <div style="margin: auto" class="tile is-8 is-parent">
                  <div class="tile is-child box alt-front-background">
                    <!-- html map tag -->
                    <div id='map' style='width: 95%; height: 300px;'></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = {lat: {{location.latitude}}, lng: {{location.longitude}} };
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 17, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjXOk51pE-rRddkuHJeHIFVf_90rCYko&callback=initMap">
    </script>

    {% if user.id == location.rocker.user.id %}
    <a class="button is-primary is-medium" href="{% url 'location:edit_location' location.id %}">
      Make changes ...
    </a>
    {% endif %}

  </div>
</div>

{% endblock content %}
