{% extends "rock/base.html" %}

{% block content %}

<head>
    {% load static %}
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/stylesChuck.css' %}"/>
</head>

{% if error %}
  <h3 class="title is-3" style="color: red">
    <center>{{ error }}</center>
  </h3>
{% endif %}

<div class="has-text-centered tile is-ancestor is-5" style="margin: auto"
  <div class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <h1 class="title is-2">
        <span style="color:white;">
          Hello
        </span>
        <span style="color:#1496ed">
          {{ user.username }}
        </span>
      </h1>
      <h4 class="title is-5">
        <span style="color:white;">
          Your locations are listed below
        </span>
      </h4>
      <a class="button is-info is-medium" href="{% url 'location:publish_location' %}">
        Make a new location
      </a>
      <br><br>

      <!-- List all destinations -->
      {% for location in my_locations %}
      <div class="parent">
        <div class="box alt-front-background">
          <div class="content alt-front-background" align="left">
            <a  class="child inline-block-child" href="{% url 'location:show_location' location.id %}">
              <div class="container-img">
                <img src="{{ location.sport_location_img.url }}" alt="Image not found"
                  onerror="this.onerror=null;this.src='{% static 'rock/images/no_image_available.PNG' %}';"
                  width="100%" height="100%" style="padding:0; margin:0;" class="box front-background">

                {% if location.sport == 'basketball' %}
                  <img class="icon" src="https://img.icons8.com/doodle/48/000000/basketball--v1.png">
                {% elif location.sport == 'baseball' %}
                  <img class="icon" src='https://img.icons8.com/dusk/64/000000/baseball.png'>
                {% elif location.sport == 'tennis' %}
                  <img class="icon" src='https://img.icons8.com/dusk/64/000000/tennis.png'>
                {% endif %}
              </div>

            </a>
            <a class="child inline-block-child button is-success is-medium" href="{% url 'location:show_location' location.id %}">
              {{ location }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
