{% extends "rock/base.html" %}

{% block content %}

{% if error %}
  <h3 class="title is-3" style="color: red">
    <center>{{ error }}</center>
  </h3>
{% endif %}

<div class="has-text-centered tile is-ancestor">
  <div style="margin: auto" class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <h1 class="title is-2"> Hello <span style="color:#1496ed">
        {{ user.username }}</span>
      </h1>
      <h4 class="title is-5">
        Your locations are listed below
      </h4>
      <a class="button is-info is-medium" href="{% url 'sport:publish_create_sport' %}">
        Make a new location
      </a>
      <br><br>

      <!-- List all destinations -->
      {% for location in my_locations %}
        <div class="box alt-front-background">
          <div class="content alt-front-background" align="left">
            <center>
              <a class="button is-success is-medium" href="{% url 'location:show_location' location.id %}">
                {{ location }}
              </a>
            </center>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
