<head>
  {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rocker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/bulma.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/stylesChuck.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'rock/main.css' %}"/>
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
  {% endblock %}
</head>
