<!-- index renders a list of all the rock locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "rock/base.html" %}

{% block content %}

<div class="has-text-centered tile is-ancestor">
  <div style="margin: auto" class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <h1 class="title is-2">
        Hello
        <span style="color:#1496ed">
          {{ user.username }}
        </span>
      </h1>
      <h2 class="title is-3">
        Welcome to rocker.
      </h2>
      <h4 class="title is-5" style="color:#1496ed">
        Take a look at the list of rock destinations created by rocker users
      </h4>

      <!-- List all destinations -->
      {% for location in all_locations %}
        <div class="box alt-front-background">
          <div class="content alt-front-background" align="left">
            <center>
              <a class="button is-success is-medium" href="{% url 'location:show_location' location.id %}">
                {{ location }}
              </a>
            </center>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
