<!-- index renders a list of all the rock locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "rock/base.html" %}

{% block content %}

<head>
    {% load static %}
    <script type='text/javascript' src="{% static 'rock/js/google_map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rock/bulma-0.8.0/css/stylesChuck.css' %}"/>
</head>

<div class="no-scroll">

<br><br><br>
  <div style="margin: auto;">
    <center>
      <div class="box front-background tile is-8 is-vertical">
        <div class="tile is-ancestor">
          <div class="tile is-vertical has-text-centered alt-front-backgroud">
            <h1><br></h1>
            <h2 class="title is-3">
              <span style="color:#1496ed">
                {% if user %}
                  {{ user.username }},
                {% endif %}
              </span>
              <span style="color:white;">
                welcome to rocker.
              </span>
            </h2>
            <h4 class="title is-5" style="color:#1496ed">
              <span style="color:white;">
                Take a look at the list of rock destinations created by rocker users
              </span>
            </h4>
          </div>
        </div>
        <br><br><br>
      </div>
    </center>
  </div>

  <br><br>

  <div class="margin: auto">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">

        <div class="parent main-background" style='width: 100%; height: 100%;'>
          <script>
            //load_map({{location.latitude}}, {{location.longitude}}, {{location.id}});
            var sports = [];
            var i = 0;
          </script>

          {% for l in all_locations %}
          <script>
            sports[i] = '{{l.sport}}';
            i++;
          </script>
          {% endfor %}

          <div class='child inline-block-child' id='map' style='width: 70%; height: 550px;'></div>

          <script>
            load_map_multiple_markers({{coordinates}}, sports);
          </script>

          <div class="scrollable child inline-block-child main-background border" style='width: 29%; height: 550px;'>
            {% for l in all_locations %}
              <article>
                  <a href="{% url 'location:show_location' l.id %}">
                    <div class="container-img">
                      <!--Image of Location-->
                      <img src="{{ l.sport_location_img.url }}" alt="Image not found"
                        onerror="this.onerror=null;this.src='{% static 'rock/images/no_image_available.PNG' %}';"
                        width="100%" height="100%" style="padding:0; margin:0;" class="box main-background">
                      {% if l.sport == 'basketball' %}
                        <img class="icon" src="https://img.icons8.com/doodle/48/000000/basketball--v1.png">
                      {% elif l.sport == 'baseball' %}
                        <img class="icon" src='https://img.icons8.com/dusk/64/000000/baseball.png'>
                      {% elif l.sport == 'tennis' %}
                        <img class="icon" src='https://img.icons8.com/dusk/64/000000/tennis.png'>
                      {% endif %}
                    </div>
                  </a>
              </article><br>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
