<!-- create_comment.html -->
<!-- -->
{% extends "rock/base.html" %}

{% block content %}
  <div class="publish-form columns">
    <div class="column is-one-fifth">
      <div class="column" >
        <h4 class="title is-5">
          Create your new comment for the review of <span style="color:#1496ed">{{ review.title }}</span>:
        </h4>
          {% if error %}
            <h3 style="color: red">{{ error }}</h3>
          {% endif %}
          
        <form action="{% url 'comment:create_comment' review.id %}" method="post">
        {% csrf_token %}

          <div class="field">
            <div class="control">
              <label class="label">*Comment</label>
              <input class="input is-primary" placeholder="I think that..." type="TextField" name="body">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success is-outlined is-fullwidth" type="submit" value="Publish">
                Publish
              </button>&nbsp;
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
{% endblock content %}
