<!-- index renders a list of all the rock locations in the DB -->
<!-- should implement a search button at some point -->

{% extends "rock/base.html" %}

{% block content %}

<div class="has-text-centered tile is-ancestor">
  <div style="margin: auto" class="tile is-8 is-parent">
    <div class="tile is-child box front-background">
      <h2 class="title is-2">
        <span style="color:blue">
          {{ user.username }}
        </span>
        <br>
          {% if sport.sport == 'basketball' %}
            This is the location of the basketball court
          {% elif sport.sport == 'tennis' %}
            This is the location of the tennis court
          {% elif sport.sport == 'baseball' %}
            This is the location of the baseball field
          {% endif %}
      </h2>
      <p>
        Input: {{address}} {{zip}}
      </p>
    </div>
  </div>
</div>

<br>
<br>
<br>

<!-- html map tag -->
<div id='map' style='width: 100%; height: 400px;'></div>

<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: {{latitude}}, lng: {{longitude}} };
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjXOk51pE-rRddkuHJeHIFVf_90rCYko&callback=initMap">
</script>

<!--
<form method = "post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="button is-primary is-medium" type="submit">
    Upload
  </button>
</form>
-->

<a href="{% url 'rock:publish_image' location.id %}" class="button is-primary is-medium">
  Add Image
</a>

{% endblock content %}
